
/bin
/obj
.gitattributes
/Data/logs
/Migrations
/.idea
/Zealot.Bot/bin
/Zealot.Bot/obj
/Zealot.Web/bin
/Zealot.Web/obj
/Zealot.Shared/Database/Migrations
/Zealot.Shared/obj
/Zealot.Shared/bin
Zealot.Web/appsettings.json
/Zealot.Shared/Migrations
Zealot.Web/appsettings.json
